<ion-view title="Timeline" id="page1" style="background-color:#1F1F1F;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="timeline-card21">
            <ion-item class="item-avatar item-icon-right dark  " id="timeline-list-item3">
                <img src="img/4k7MKM3gTje5ArVhLwCd_berkay.jpg">
                <h2dark>Berkay Beyaz
                    <i class="icon ion-android-add"></i>
                </h2dark>
                {{ datas }}
            </ion-item>
            <div class=" item item-image">
                <img src="img/AU71oAoYS76duiYt8woo_night-sky-photography2e.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="timeline-list-item-container1">
                <p id="timeline-markdown5" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="timeline-list-item2">
                <i class="icon ion-android-favorite-outline"></i>Add to favorite</ion-item>
        </div>
        <div class="list card " id="timeline-card24">
            <ion-item class="item-avatar item-icon-right dark  " id="timeline-list-item9">
                <img src="img/4k7MKM3gTje5ArVhLwCd_berkay.jpg">
                <h2dark>Berkay Beyaz
                    <i class="icon ion-android-add"></i>
                </h2dark>
            </ion-item>
            <div class=" item item-image">
                <img src="img/AU71oAoYS76duiYt8woo_night-sky-photography2e.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="timeline-list-item-container4">
                <p id="timeline-markdown3" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="timeline-list-item10">
                <i class="icon ion-android-favorite-outline"></i>Add to favorite</ion-item>
        </div>
        <div class="list card " id="timeline-card25">
            <ion-item class="item-avatar item-icon-right dark  " id="timeline-list-item11">
                <img src="img/4k7MKM3gTje5ArVhLwCd_berkay.jpg">
                <h2dark>Berkay Beyaz
                    <i class="icon ion-android-add"></i>
                </h2dark>
            </ion-item>
            <div class=" item item-image">
                <img src="img/AU71oAoYS76duiYt8woo_night-sky-photography2e.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="timeline-list-item-container5">
                <p id="timeline-markdown4" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="timeline-list-item12">
                <i class="icon ion-android-favorite-outline"></i>Add to favorite</ion-item>
        </div>
        <div class="list card " id="timeline-card22">
            <ion-item class="item-avatar item-icon-right dark  " id="timeline-list-item5">
                <img src="img/4k7MKM3gTje5ArVhLwCd_berkay.jpg">
                <h2dark>Berkay Beyaz
                    <i class="icon ion-android-add"></i>
                </h2dark>
            </ion-item>
            <div class=" item item-image">
                <img src="img/AU71oAoYS76duiYt8woo_night-sky-photography2e.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="timeline-list-item-container2">
                <p id="timeline-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="timeline-list-item6">
                <i class="icon ion-android-favorite-outline"></i>Add to favorite</ion-item>
        </div>
    </ion-content>
</ion-view>